<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="../resources/static/js/jquery-3.0.0.js"></script>
    <script src="../resources/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../resources/static/css/bootstrap.css">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse">
        <a class="navbar-brand" href="/showPage">账单系统</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/login">学生信息 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">年级信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">退出</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div>

</div>
</body>
</html>
